<div id="heroMain">
  <h1>Up and Away</h1>
  <div class="heroText">
    <div class="row">
        <div class="col-md-6">
          <div class="icon"><i class='fas fa-globe-europe'></i></div>
          <h3>Destinations Everywhere</h3>
          <p>We every destination you are dreaming for. From the Arctic Circle to the Chilean Mountains. </p>
        </div>
        <div class="col-md-6">
          <div class="icon"><i class='	fas fa-heart'></i></div>
          <h3>Best in Class Customer Service</h3>
          <p>Only a satisfied customer is a happy customer</p>
        </div>
    </div>
  </div>
</div>
