<div class="container">
    <div class="row">
        <div class="col-lg-6" >
            <img class="rounded-circle-circle" src ="/assets/img/about_img.png" alt = "Generic placeholder image" width="140" height= "140">
            <h2>Lorem Ipsum 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
            </p>
        </div>
        <div class="col-lg-6"  >
            <img class= "rounded-circle"  src="/assets/img/about_img_2.png" alt = "Generic placeholder image" width="140" height= "140" alt="Generic placeholder image"  width= "140" height ="140">
            <h2>Witty Title</h2>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
            </p>
        </div>
    </div>
</div>